img {
	width: 300px;
	height: 100px;
}

.container {
	display: contents;
	justify-content: center;
}

#statusOnline, #statusOffline {
	width:950px;
}

#statusOnline {
	background-color: lightgreen;
}

#statusOffline {
	background-color: pink;
}


	
