img {
	width: 250px;
	height: 83px;
}

.container {
	display: contents;
	justify-content: center;
}

#statusOnline, #statusOffline {
	width: 950px;
}

#statusOnline {
	background-color: lightgreen;
}

#statusOffline {
	background-color: pink;
}


	
